/node_modules
/vendor
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
/bootstrap/cache/*
.phpunit.result.cache
.env
.env.backup
.env.production
chokidar.js
npm-debug.log
yarn-error.log
.idea
.vscode
